.zone-bouton{
    height: 100px;
    background-color: #ffffff;

}





#section-about{
    min-height: 680px;
    background-color: #70cd98;
}

.btn-circle {
    width: 70px;
    height: 70px;
    margin-top: 10px;
    margin-bottom: 10px;

    padding-top: 16px;
    padding-right: 16px;
    padding-left: 16px;
    padding-bottom: 16px;

    border: 5px solid transparent;
    border-radius: 100%!important;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
    z-index:9999;
    opacity:0.5;
}


.pied{
    height: 0px;
}


.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.logo{
    border-radius: 10px;
    border: 2px inset transparent;
    box-shadow: inset;
    /*position:relative;
    z-index:-1;

    border: 0px solid transparent;
    opacity:0.80;


    padding: 2px 2px;*/

   /* box-shadow: 0px 0px 10px 10px rgba(0,0,0,.35)inset;*/
}





.thumbnail {
    position:relative;
    overflow:hidden;
}

.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(200, 200, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}


.zoom-logo{
    vertical-align: middle;
    margin-top : 20%;
    margin-bottom: auto;
}

.sectionCoul{
    background-color: #70cd98;
    position:relative;
    -webkit-box-shadow:  0px 8px 15px #aaa ;
    -moz-box-shadow:  0px 8px 15px #aaa ;
    box-shadow:  0px 8px 15px #aaa ;

}

.sectionSSCoul{
    position:relative;
    -webkit-box-shadow:  0px -6px 15px #aaa inset ;
    -moz-box-shadow:  0px -6px 15px #aaa inset ;
    box-shadow:  0px -6px 15px #aaa inset;
}

.competences{
    background-color: #f7f7f7;

}
.competences:hover{
    background-color: #e7e7e7;
}


.featurette-heading {
    font-size: 50px;
    margin : 0 auto;
}

.fa-star{
    color:#70cd98;
}

#section-skills{
    min-height: 680px;
}


.cmd{
      width:80px;
      height:40px;
  }

.utc-logo{
    max-width:150px;
    margin-bottom: 60px;
}

.titre-section{
    opacity: 0.85;
    background-color: #70cd98;
    margin-left: 20%;
    margin-right: 20%;
}

.video-player{
    margin-left: 30%;
    border: 1px solid;
    border-radius : 5px;
}

.capture{
    padding-bottom: 20px;
}

.fa-2x-fleche{
    color:#70cd98;
}
.fa-2x-fleche:hover{
     color: #478462;
 }